<!DOCTYPE HTML>
<html>
<head>
    <title>Request headers</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
    <body>
        <div>Request headers: </div><br>
        {{#headers}}
            {{ . }} <br>
        {{/headers}}
    </body>
</html>